body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
}

h2 {
  font-size: 2rem;
}

.app {
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.button {
  background-color: #222;
  outline: 2px solid black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  background-color: #111;
}

.board {
  width: 100%;
  height: 320px;
  outline: 1px solid black;
  background-color: #222;
  display: flex;
  flex-wrap: wrap;
  font-size: 32px;
  position: relative;
  margin-bottom: 2rem;
}

.cell {
  outline: 1px solid black;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  position: absolute;
}

.cell:nth-child(4n + 1) {
  left: 0;
}

.cell:nth-child(4n + 2) {
  left: 25%;
}

.cell:nth-child(4n + 3) {
  left: 50%;
}

.cell:nth-child(4n + 4) {
  left: 75%;
}

.cell:nth-child(n + 0) {
  top: 0;
}

.cell:nth-child(n + 5) {
  top: 25%;
}

.cell:nth-child(n + 9) {
  top: 50%;
}

.cell:nth-child(n + 13) {
  top: 75%;
}
