.app {
  margin: 0 auto;
  width: 402px;
  text-align: center;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.button:hover{
  background-color: #151515;
}