.app {
  margin: 0 auto;
  width: 402px;
  text-align: center;
}

.playButton {
  background-color: black;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.playButton:hover{
  background-color: #151515;
}