.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  position: absolute;
}

.cell:nth-child(4n + 1) {
  left: 0;
}

.cell:nth-child(4n + 2) {
  left: 25%;
}

.cell:nth-child(4n + 3) {
  left: 50%;
}

.cell:nth-child(4n + 4) {
  left: 75%;
}

.cell:nth-child(n + 0) {
  top: 0;
}

.cell:nth-child(n + 5) {
  top: 25%;
}

.cell:nth-child(n + 9) {
  top: 50%;
}

.cell:nth-child(n + 13) {
  top: 75%;
}